{% extends "layout.html" %}

{% block title %}
    Password Change
{% endblock %}

{% block main %}
    <h1 class="display-1">Change Your Password</h1>
    <form action="/chpass" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="pastpassword" placeholder="Current Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="newpassword" placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm New Password" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}
